@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
 
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lora', sans-serif;
}
#navbar {
    text-align: right;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.navBg, .innerNav {
    position: fixed;
    top: 0;
}

.navBg ul, .innerNav ul {
    padding-top: 12px;
    padding-bottom: 10px;
    background-color: #f7f7f7 !important;
    border-bottom: #ffce00 solid 1pt;
}

.navBg ul li, .innerNav ul li, .innerNav a  {
    color:rgba(51, 51, 51, 0.85) !important;
}

#navbar ul {
    margin-top: 0px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 10px;
    height: 42px;
}

#secondaryButton {
    display: none;
    font-size: 26px;
    position: fixed;
    color: white;
    right: 22px;
    top: 18px;
    background-color: rgba(51, 51, 51, 0.3);
    border-radius: 5px;
    border: 1pt solid #f7f7f7;
    padding: 0px 4px;
}
#logo, #logo a{
    position: fixed;
    left: 30px;
    text-decoration: underline;
    text-decoration-thickness: 6px;
    text-decoration-color: #ffce00;
    font-weight: bolder;
}

#navbar li {
    display: inline-block;
    opacity: 0;
    color: rgba(255, 255, 255, 0.8);
    padding: 8px;
    font-size: 20px;
    animation: appearing 2s forwards;
}

#navbar li:hover {
    color: rgba(255, 255, 255, 1);
}

.active {
    display: table !important;
}

#projectList {
  display: table;
  margin-top: 10px;
  border: 0.1pt solid rgba(255, 255,255, 0.3);
  border-radius: 5px;
  position: fixed;
  right: 290px;
  padding-bottom: 0;
  background-color: rgba(51, 51, 51, 0.7);
}

#projectList > li{
    display: block;
    font-size: 85%;
    border-bottom: 0.1pt solid rgba(255, 255, 255, 0.2);
}

#projectList > li:hover {
    background-color: rgba(51, 51, 51, 0.7);
}
    
@keyframes appearing {
    from {opacity: 0;}
    to {opacity: 1;}
}

#hero {
    background-image: url('../img1.jpg');
    background-size:  cover;
    height: 100vh;
    width: 100%;
    animation: moveImg 4s forwards ease-out;
}

@keyframes moveImg {
    from {background-position: bottom}
    to {background-position: center}
}

#block {
    opacity: 0;
    width: 50vw;
    background-image: url('../luminary.svg');
    background-size: cover;
    color: white;
    text-align: center;
    height: 35vh;
    position: absolute;
    top: 55vh;
    left: 25vw;
    font-size: 28px;
    animation: appearing 3s 1s forwards;
    padding-top: 10px;
    border-radius: 5px;
}

#block hr {
    height: 0.1px;
    background-color: white;
    width: 50%;
    margin-left: 25%;
}

.button {
    display: block;
    margin-left: 35%;
    width: 30%;
    margin-top: 5vh;
    font-size: 20px;
    border-radius: 10px;
    border: solid 0.5px #f7f7f7e7;
    padding: 8px;
    background-color: rgba(51, 51, 51, 0.85);
}

.button:hover {
    background-color: rgb(46, 46, 46);
    color: #f7f7f7;
}


#sectionTwo {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 90px;
    margin-bottom: 90px;
}

#sectionOne {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f7fa;
    margin-top: 90px;
    margin-bottom: 90px;
}

#sectionOne h2 {
    padding-bottom: -20px;
}

#subHero {
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 130px;
    margin-bottom: 60px;
}

#cloud {
    height: 80vh;
    transform: translateX(-50%);
    margin-left: 50%;
}

#subHero h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    color: #333;
}

h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

h3 {
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
}

h1::after {
    content: " ";
    background-color: #ffce00;
    white-space: pre;
    position: absolute;
    left: calc(50% - 350px);
    z-index: -1;
    line-height: 20px;
    width: 700px;
    margin-top: 25px;
}

#subHero p {
    font-size: 22px;
    color: #838383;
    margin-left: 15%;
    margin-right: 15%;
}

.para {
    font-size: 20px;
    color: #838383;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.smallerPara {
    font-size: 16px;
    color: #838383;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

#magnifier {
    margin-top: -15px;
    width: 70px;
    margin-left: calc(50% - 35px);
}

#flow {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 30px;
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
}

#covers {
    width: 100%;
    margin-top: 50px;
    border-radius: 15px;
    background-color: #ffce00;
    padding-top: 40px;
    padding-bottom: 40px;
}

#covers div {
    border-radius: 25px;
    width: 31%;
    display: inline-block;
    background-color: #f7f5f3;
    box-shadow: rgb(51, 51, 51) 3px 3px 15px;
    opacity: 0;
    margin-left: -100px;
}


#cover1 img {
    border-radius: 60px 0px 25px 0px;
    display: block;
    width: 88%;
    margin-left: 12%;
    height: 20vw;
    object-fit: cover;
}

#cover2 img {
    border-radius: 60px 0px 25px 0px;
    display: block;
    width: 88%;
    margin-left: 12%;
    height: 20vw;
    object-fit: cover;
    object-position: top;
}

#covers div p {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    color: #838383;
}

#cover1 {
    margin-left: 18%;
    margin-right: 2%;
}

@media only screen and (max-width: 960px) {
    #navbar li:nth-child(2), #navbar li:nth-child(3), #navbar li:nth-child(4) {
        display: none !important;
    }
    #secondaryButton {
        display: inline-block!important;
    }
    #block {
        width: 64vw!important;
        left: 18vw!important;
        height: 38vw!important;
        font-size: 24px!important;
        padding-top: 20px!important;
    }
    #covers div {
        width: 75%;
        margin-left: 12.5%!important;
        margin-bottom: 10%;
    }
    #covers img {
        height: 40vw;
    }
    .small-cards {
        width: 46% !important;
        margin-left: 2.5% !important;
    }
}

#cover2 p, #cover1 p {
    margin-left: 30px;
    margin-right: 10px;
}

.bolder {
    font-weight: 900;
    color: #333;
    text-transform: uppercase;
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 1.2em;
    padding-bottom: 8px;

}
.smallBolder {
    font-weight: 900;
    color: #333;
    text-transform: uppercase;
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 18px;
    padding-bottom: 8px;

}

.highlight, h2 {
    font-weight: bolder;
    color: #333;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #ffce00;
}

h3 {
    font-weight: bolder;
    color: #333;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #ffce00;
}

#cover1 img{
    float: right;
}

#cover2 img {
    float: left;
}

body > hr {
    clear:both;
    border:0;
    height:1px;
    background-image:linear-gradient(to right,rgba(0,0,0,0),rgba(0, 0, 0, 0.75),rgba(0,0,0,0));
    margin-left: 5%;
    margin-right: 5%;
}

.icon-tit a {
    text-decoration: none!important;
    color: inherit!important;
}

.slider1 {
    animation: leftToRight1 1s ease-in forwards;
}

.slider2 {
    animation: leftToRight2 1s 0.5s ease-in forwards;
}

@keyframes leftToRight1 {
    from {margin-left: -100px; opacity: 0;}
    to {margin-left: 18%; opacity: 1;}
}

@keyframes leftToRight2 {
    from {margin-left: -200px; opacity: 0;}
    to {margin-left: 4%; opacity: 1;}
}

/* Reader */

.menu-wrapper {
    width: calc(100% - 50px);
    position: relative;
    overflow: hidden;
    border-bottom: #838383 1pt solid;
    padding-left: 50px;
}
.menu-wrapper .menu-item {
    padding-left: -200px;
    width: calc(100% - 50px);
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.menu-wrapper .menu-item a {
    display: inline-block;
    padding: 5px 20px;
    color: #333;
}

.menu-wrapper .menu-item a:first-child{
    margin-left: 0px;
}

.left-pointer {
    display: none;
}

.marginLeft {
    animation: moveRight 2s ease-in-out forwards;
}

.reverseMarginLeft {
    animation: reverseMoveRight 2s ease-in-out forwards;
}

@keyframes moveRight {
    from {margin-left: 0px;}
    to {margin-left: -50vw;}
}

@keyframes reverseMoveRight {
    from {margin-left: -50vw;}
    to {margin-left: 0px;}
}

.menu-wrapper .menu-item a:hover {
    text-decoration: none;
}
.menu-wrapper .menu-item a:first-child {
    padding-left: 5px;
}
.menu-wrapper .menu-item::scrollbar{
    display: none;
}
.menu-wrapper .menu-item::-webkit-scrollbar {
    display: none;
}

#songList {
    top: 65px;
    z-index: 3;
}

#poemList {
    top: 120px;
    z-index: 2;
}

#songList, #poemList {
    white-space: nowrap;
    position: fixed;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    height: 56px;
}


#songList a, #poemList a{
    text-transform: uppercase;
    color: #f7f7f7e7;
    padding-top: 1em;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

a:hover {
    cursor: pointer;
}

.menu-item a:after {    
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #ffce00;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.menu-item a:hover:after { 
    width: 70%; 
    left: 15%; 
}

#text1:hover:after, #poem1:hover:after { 
    width: 70%; 
    left: 10%; 
}


.menu-wrapper .pointer {
    height: 40px;
    width: 30px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 0;
}
.menu-wrapper .pointer i {
    color: #f7f7f7e7;
    cursor: pointer;
}
.menu-wrapper .left-pointer {
    left: 0;
}
.menu-wrapper .right-pointer {
    right: 0px;
}
.menu-wrapper .dis i {
    color: #ccc;
}

#textShown {
    margin-top: 220px;
    margin-left: 60px;
    font-size: 18px;
    margin-bottom: 60px;
}

.subtitle {
    margin-top: -20px;
}

#topics {
    display: block;
    position: fixed;
    bottom: 0;
    width: 16%;
    height: calc(100% - 259px);
    top: 177px;
    right: calc(-16% - 20px);
    padding-left: 20px;
    padding-top: 80px;
    border-left: #333 1pt solid;
    background: url('back.jpg') repeat;
    filter: grayscale(80%);
    z-index: 1;
    overflow: auto;
}

.topicsEntry {
    animation: entrance 2s forwards;
}

@keyframes entrance {
    from {right: calc(-16% - 20px)}
    to {right: 0px}
}

#topics a {
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 20px;
    border-bottom: #838383 1pt solid;
}

#textShown #poemText, #textShown .activated  {
    vertical-align: top;
    height: 100%;
    display: inline-block;
    width: 38vw;
}

.highlightdeath {
    background-color: #e9a600;
    opacity: 0.1;
    animation: bgOp 1s forwards;
}

.highlightsalvation {
    background-color: #ffc14d;
    opacity: 0.1;
    animation: bgOp 1s forwards;
}

.highlightnature {
    background-color: #efbbea;
    opacity: 0.1;
    animation: bgOp 1s forwards;
}

.highlightmusic {
    background-color: #4dfff4;
    opacity: 0.1;
    animation: bgOp 1s forwards;
}
.highlightfamily {
    background-color: #4dff4d;
    opacity: 0.1;
    animation: bgOp 1s forwards;
}
.highlightsickness {
    background-color: #a8c2e3;
    opacity: 0.1;
    animation: bgOp 1s forwards;
}
.highlightwriting  {
    background-color: #bca98c;
    opacity: 0.1;
    animation: bgOp 1s forwards;
}
.highlightdarknessvslight {
    background-color: #e99e8e;
    opacity: 0.1;
    animation: bgOp 1s forwards;
}
.highlightsecret {
    background-color: #cf2a26;
    opacity: 0.1;
    animation: bgOp 1s forwards;
}
.highlighteternalsleep {
    background-color: #a7d5b0;
    opacity: 0.1;
    animation: bgOp 1s forwards;
}
.highlightmemory {
    background-color: #5ebac4;
    opacity: 0.1;
    animation: bgOp 1s forwards;
}
.highlightsuffering {
    background-color: #f3da66;
    opacity: 0.1;
    animation: bgOp 1s forwards;
}
.highlightreligion {
    background-color: #f7589e;
    opacity: 0.1;
    animation: bgOp 1s forwards;
}
.highlightjustice {
    background-color: #b0b7a8;
    opacity: 0.1;
    animation: bgOp 1s forwards;
}
.highlightknowledge {
    background-color: #fdec7f;
    opacity: 0.1;
    animation: bgOp 1s forwards;
}
.highlightchurch {
    background-color: #b8944e;
    opacity: 0.1;
    animation: bgOp 1s forwards;
}
.highlighthate {
    background-color: #85dfc9;
    opacity: 0.1;
    animation: bgOp 1s forwards;
}
.highlightjustice {
    background-color: #e8c8b8;
    opacity: 0.1;
    animation: bgOp 1s forwards;
}
.highlightlove {
    background-color: #fb64a5;
    opacity: 0.1;
    animation: bgOp 1s forwards;
}
.highlightsight {
    background-color: #c09be2;
    opacity: 0.1;
    animation: bgOp 1s forwards;
}
.highlightdamnation {
    background-color: #cff5fc;
    opacity: 0.1;
    animation: bgOp 1s forwards;
}
@keyframes bgOp {
    from {opacity: 0.1}
    to {opacity: 1}
}

.cards-container {
    width: 100%;
    margin-top: 10vh;
}

.small-cards {
    display: inline-block;
    width: 19.5%;
    margin-left: 5%;
    margin-top: 30px;
    transition: transform .3s ease-out;
    padding-top: 10px;
    border-radius: 10px;
}

.small-cards:hover {
    cursor: pointer;
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11);
    background-color: #fefefe77;
    border: solid 1pt #ffce00;
}

.icon {
    width: 30%;
    margin-left: 38%;
    display: block;
}

.icon-tit {
    width: 70%;
    display: inline-block;
    margin-left: 15%;
    text-align: center;
}

/* ontology */

#ontology1 {
    display: block;
    margin-top: 100px
}

#ontology1 iframe{
    margin-left: 5vw;
}


#kg {
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: center left;
}

#kg:hover {
    opacity: 0.2;
    cursor: pointer;
}


#kgDiv {
    margin-left: 5vw;
    width: 90%;
    height: 80%;
}

#caption {
    display: none;
    position: absolute;
    top: calc(160%);
    width: 200px;
    left: calc(50% - 100px);
}

#kgDiv:hover #caption {   
    font-size: 20px;
    text-align: center;
    display: inline-block !important;
}

#kgDiv:hover #kg{
    opacity: 0.2;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 6px 10px 28px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 10px 28px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 28px 0px rgba(0,0,0,0.75);
}

.innerPageIcon {
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: 200px;
    margin-top: 90px;
}

#readerIcon {
    margin-top: 200px !important;
}    

/* comp-quest*/
.transition, #questList li i:before, #questList li i:after, .queryBox {
  transition: all 0.25s ease-in-out;
}

.flipIn, #questList li, h1 {
  animation: flipdown 0.5s ease both;
}

.no-select, h2 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#questList {
  list-style: none;
  perspective: 900;
  padding: 0px 10px;
  margin: 5vw;
  width: calc(90vw - 20px);
  border-top: 7px solid #ffcc02;
  border-left: solid 1px #d5d5d5;
  border-right: solid 1px #d5d5d5;
  border-bottom: solid 1px #d5d5d5;
}
#questList li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 1px dotted #dce7eb;
}
#questList li:nth-of-type(1) {
  animation-delay: 0.3s;
}
#questList li:nth-of-type(2) {
  animation-delay: 0.5s;
}
#questList li:nth-of-type(3) {
  animation-delay: 0.7s;
}
#questList li:nth-of-type(4) {
  animation-delay: 0.9s;
}
#questList li:nth-of-type(5) {
  animation-delay: 1.1s;
}
#questList li:nth-of-type(6) {
  animation-delay: 1.3s;
}
#questList li:nth-of-type(7) {
  animation-delay: 1.5s;
}
#questList li:nth-of-type(8) {
  animation-delay: 1.7s;
}
#questList li:nth-of-type(9) {
  animation-delay: 1.9s;
}
#questList li:nth-of-type(10) {
  animation-delay: 2.1s;
}
#questList li:nth-of-type(11) {
  animation-delay: 2.3s;
}
#questList li:last-of-type {
  padding-bottom: 0;
}
#questList li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}
#questList li i:before, #questList li i:after {
  content: "";
  position: absolute;
  background-color: #707070;
  width: 3px;
  height: 9px;
}
#questList li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
#questList li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
#questList li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
#questList li input[type=checkbox]:checked ~ .queryBox {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
#questList li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
#questList li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

.codeBox {
    width: 90%;
    box-shadow: 0 0.2rem 0.5rem #d8d8d8,0 0 0.0625rem #d8d8d8!important;
    border-radius: 0.25rem;
    border-left: 0.2rem solid;
    border-color: #ffcc02;
    margin: 1.5625em auto;
    background-color: #f8f8f8;
    padding: 0 0.6rem 0.8rem;
    white-space: pre;
}

.codeBox span {
    display: block;
    background-color: #fceaa4;
    margin: 0 -0.6000000000000014rem;
    position: relative;
    padding-left: 0.6000000000000014rem;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    margin-top: -40px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
    color: #333;
}

.queryBox button {
    transform: translateX(-50%);
    margin-left: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 24px 36px rgb(0 0 0 / 11%);
    background-color: #fefefe77;
    border: solid 1pt #ffce00;
    padding: 10px;
    font-family: inherit;
}

